 .u-section-1 {
  min-height: 733px;
}

.u-section-1 .u-text-1 {
  width: 473px;
  font-size: 3rem;
  margin: 251px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-list-1 {
  width: 950px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 47.25px));
  grid-gap: 63px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  margin: 0 auto 0 35px;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  margin: 0 auto 0 35px;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  margin: 0 auto 0 35px;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  margin: 0 auto 0 35px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 59px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 40px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-4 {
    border-style: solid;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 763px;
  }

  .u-section-1 .u-list-1 {
    width: 459px;
    margin-top: 39px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 41.25px));
    grid-gap: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 252px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 590px;
    height: auto;
    min-height: 47px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 47px;
    grid-template-columns: repeat(4, calc(25% - 27px));
    grid-gap: 36px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 765px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 204px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 13px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 49px;
    min-height: 153px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 156px;
    grid-template-columns: repeat(2, calc(50% - 13px));
    grid-gap: 26px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.25rem;
  }
}