* {
    padding: 0px;
    margin: 0px;
}

body {
    height:100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}


.row {
    margin: 0 10px;
    padding: 10px;
}

p {
    font-size: 2em;
    color: black;
    font-family: Arial;
}

#gone {
    animation: posChange 1s ease infinite;
    animation-direction: alternate;
}

@keyframes posChange{
    0% {
        transform: rotateX(0deg);
    }
    100% {
       transform: rotateX(90deg);
    }
}


#flash {
    background-color: black;
    animation-name: colorChange;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes colorChange {
    0%{
        color: yellow;
    }
    100%{
        color: white;
    }
}

#pls {
    animation-name: expand;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes expand {
    0% {
        font-size: 2em;
    }
    100% {
        font-size: 4em;
    }
    
}