html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  padding-left: 200px;
}

div {
  display: block;
}

#bgcolor {
  padding-top:10px;
  padding-bottom: 0px;
  
}

.shape {
  padding-top: 0px;
  padding-bottom: 0px; 
}

.side {
  display: block;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 10%;
}

td, th {
  border: none;
  text-align: left;
  padding: 7px;
}

p {
  display:inline-flex;
  position:relative;
  margin-top: 10px;
    margin-bottom: 4px;
padding-top: 0px;
 padding-left: 45px;
}