body {
    background-color: lavender;
    height: 300vh;
}

pre {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 0 3px;
}

div {
    width: 500px;
    height: 200px;
}

div.static {
    background-color: blue;
    position: static;
}

div.relative {
    background-color: yellow;
    position: relative;
}

div.fixed {
    background-color: purple;
    position: fixed;
}

div.absolute {
    background-color: green;
    position: absolute;
    top: 0;
    
}

div.sticky {
    background-color: red;
    position: sticky;
    top: 0px;
}
