html {
    box-sizing: border-box;

}


body {
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

#img {
    width: 200px;
}

/*This is the blue shape*/

#blue {
    background-color: cadetblue;
    width: 200px;
    height: 65px;
}

/*COMPLETE CSS BELOW*/

#yellow {
    background-color: lightyellow;
    width: 200px;
    height: 35px;
}
#black {
    background-color: black;
    width: 200px;
    height: 35px;
}

#gold {
    background-color:goldenrod;
    width: 200px;
    height: 35px;
}

#green {
    background-color: darkgreen;
    width: 200px;
    height: 55px;
}
