html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#link {
 color: white;
    font-family: sans-serif;
  position: absolute;
  display: bottom;
  padding-top: 590px;
  padding-left: 10px;
}