body {
    background-color: white;
    padding: 100px;
    color: #3B5797;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 90px;
}
p{
    font-family: 'Arial Black', sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 0px;
}

#margin {
    padding-left: 50px;
    display: inline-block;
}

#logo {
    display: inline-block;
    position: fixed;
    padding-right: 10px;
    padding-top: 95px;
    
}

p2 {
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
}

h3 {
    font-family: sans-serif;
    margin-bottom: 0px;
    font-size: 13px;
}

#t {
    font-family: "Arial Black";
}

#space {
    padding: 3px;
}