body {
    color: green;
    padding: 80px;
    padding-top: 160px;
}

p1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 54px;
    margin: 0px;
    letter-spacing: 15px;
}

p2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 26px;
    letter-spacing: 15px;
    margin: 0px;
}

h3 {
    margin-top: 90px;
}

p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    margin: 5px;
}

#spacing {
    margin-top: 5px;
    letter-spacing: 9px;
}

#italic {
    font-style: italic;
    letter-spacing: 2px;
}

#margin {
    margin-top: 130px;
    letter-spacing: 9px;
}

#margin2 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 300px;
    padding-left: 200px;
    padding-right: 200px;
}

#margin3 {
    margin-top: 150px;
    letter-spacing: 1px;
}

#small {
    margin-top: 10px;
    font-size: 12px;
}
