/*RESETS*/
*{
    margin:0px;
    padding:80px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*The code above resets box-sizing & margins and padding on all elements*/
/*Your CSS code goes below*/


body{
    background-color:lightskyblue;
    background-image: url(clouds.png);
    height:100vh;
}

img {
    width: 400px;
}

img:hover {
    width: 700px;
    display: inline-block;
    background: url(wigglytuff.png) 40px;
    background-color: pink;
}

#bounce {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    justify-content: center;
}

@keyframes bounce {
    0% {
            transform: rotate3d(0)
    }
    100% {
            transform: rotate3d(0, 2, 2, 3600deg)
}
