* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: orange;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: static;
}

div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background {
    animation-name: ;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

.row {
    margin: 10px;
    padding: 25px;
    display: inline-block;
}

p {
    font-size: 72px;
    color: ghostwhite;
    font-family: "Rockwell", sans-serif;
    background-color: transparent;
    text-align: center;
}

.float {
    animation: float .3s ease-in-out infinite alternate;
    justify-content: center;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    margin-left: -72px;
}

@keyframes float {
    0% {
        transform: rotateX(5deg) scale(1.0);
        color: gold;
    }

    100% {
        transform: rotateX(-5deg) scale(1.1);
        
    }
}

span {
    display: inline-block;
}

#space {
    margin: 28px;
}

.money {
    animation: rich .5s ease infinite alternate;
    position: relative;
}

@keyframes rich {
    0% {
        color: green;
    }

    100% {
        color: gold;
    }
}
