body {
    background-color: antiquewhite;
    padding: 100px;
}

div {
    display: block;
    align-content: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    margin: 0px;
    margin-bottom: -30px;
}

#calli {
    font-size: 60px;
    font-family: 'Meddon', cursive;
}

h2 {
    padding-left: 160px;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 30px;
    
}

#f {
    font-family: sans-serif
}

p{
    font-family: "Arial";
    font-size: 20px;
    padding-left: 165px;
}

#spacing {
    : 0px;
}

p2 {
        font-family: "Arial Black";
    letter-spacing: 4px;
}

#gill {
    font-family: "Gill Sans";
    font-size: 30px;
    letter-spacing: 1px;
}

#gill2 {
    font-family: "Gill Sans";
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 10
}

#sans {
    font-family: "Arial Black";
    letter-spacing: -2px;
    margin-bottom: 40px;
}

#spective {
    letter-spacing: 7px;

