body {
    padding: 0px;
    padding-bottom: 20px;
    margin: 0px;
}

/* Site Menus*/
.links {
    float: left;
}

/* Menu Background*/
.nav {
    background-color: black;
    padding: 20px 20px 5px;
    padding-bottom: 5px;
    margin: 0px;
    position: fixed;
    width: 100%;
}

/* The navigation menu links */
.nav a {
    padding: 0px 0px 0px 20px;
    font-size: 24px;
    text-decoration: none;
    color: none;
    text-align: center;
}

.nav a:hover {
    color: #F52D0D;
}

.nav a:active {
    color: #F52D0D;
}

#current {
    text-decoration: underline;
    color: #F52D0D;
}

.name {
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    margin: 10px 0px 10px;
}

h1 {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    box-shadow: 0px 2px;
    letter-spacing: 2px;
    margin: 20px 0px 12px 0px;
}

a {
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    color: white;
}

/* Site Content*/
#header {
    padding: 150px 60px 15px;
}

.content {
    padding: 0px 80px 0px;
}

.main {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: black;
}

h2 {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: black;
    margin-top: 0px;
    margin-bottom: 3px;
    letter-spacing: .3px;
    padding-left: 20px;
}

p {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    letter-spacing: .3px;
    margin: 0px 0px 0px;
    padding-left: 20px;
}

ul {
    margin: 0px 0px 10px 0px;
    padding-left: 30px;
}

.flex-container {
    height: 100%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding: 40px;
}

.flex-container-index {
    height: 100%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.about {
    padding-left: 450px;
    padding-top: 30px;
}

img {
    margin: 10px;
}

.desc {
    padding-left: 36vh;
    padding-right: 36vh;
}

.border {
    box-shadow: 8px 10px 20px 0px;
}

.portrait {
    float: left;
    height: 600px;
    padding: 180px 0px 0px 60px;
}

