* {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: powderblue;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: static;
}

div {
    height: 100%;
    width: 800px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background{
    animation-name: ambient;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

.row {
    display: inline-block;
}

p {
    font-size: 24px;
    color: ghostwhite;
    padding-top: 10vh;
    font-family: "Georgia", serif;
    background-color: transparent;
    text-align: center;
}

.emphasis {
    font-style: italic;
}

.color {
    color: red;
}

span {
     display: inline-block;
 }

#float {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: .3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    justify-content: center;
}

@keyframes float {
     0% {
            transform: rotate3d(50, -10, -10, 10deg)
    }
    100% {
            transform: rotate3d(50, 10, 10, 10deg)
    }
}


.shadow {
    animation: text-shadow 1s linear infinite alternate;
    display: block;
    z-index: 1;
}

@keyframes text-shadow {
    0% {
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        text-shadow:
            0 12px 0 #2cfcfd,
            0 -5px 0 #fb203b,
            0 -6px 10 #fefc4b;
    }

    40% {
        text-shadow:
            0 -12px 0 #2cfcfd,
            0 8px 10 #fb203b,
            0 5px 0 #fefc4b;
    }

    60% {
        text-shadow:
            0 2px 0 #2cfcfd,
            0 -2px 0 #fb203b,
            0 -2px 0 #fefc4b;
    }

    80% {
        text-shadow:
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}

img {
    margin-top: 60px;
    margin-left: 80px;
    padding: 0px;
    align-content: center;
    position: absolute;
    z-index: 0;
}
