* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: orange;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: static;
}

div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background {
    animation-name: ambient;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

.row {
    padding: 30px;
    display: inline-block;
}

p {
    font-size: 48px;
    color: ghostwhite;
    font-family: "Rockwell", sans-serif;
    background-color: transparent;
    text-align: center;
    padding: 40px;
    letter-spacing: 1px;
}

span {
    display: inline-block;
}

#float {
    font-size: 96px;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: .3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    justify-content: center;
}

@keyframes float {
    0% {
        transform: rotate3d(50, -10, -10, 10deg) scaleY(1);
    }

    100% {
        transform: rotate3d(50, 10, 10, 10deg) scaleY(1.2);
    }
}

.boo {
    animation: boo .3s ease-in-out alternate infinite;
    background-color: transparent;
}

@keyframes boo {
    from {
        transform: scale(1.0);
        color: ghostwhite;
    }

    to {
        transform: scale(.9);
        color: red;
    }
}

.bounce {
    animation-name: bounce;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0% {
        opacity: 0;
    }
    70% {
        color: whitesmoke;
        transform: translateY(-30px) translateX(10px);
        opacity: 1;
    }

    100% {
        transform: scale(1.5) translateY(-40px);
    }
}

.fade {
    animation: fade .2s ease forwards;
    opacity: 0;
    animation-iteration-count: forwards;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}