* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background: radial-gradient(snow, white);
    background-size: 100% 100%;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: orange;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: static;
}

div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 84px;
    line-height: 160px;
    color: black;
    font-family: "Rockwell", sans-serif;
    background-color: transparent;
    text-align: center;
}

span {
     display: inline-block;
 }

.float {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: .3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    justify-content: center;
}

@keyframes float {
     0% {
            transform: rotate3d(50, -10, -10, 10deg)
    }
    100% {
            transform: rotate3d(50, 10, 10, 10deg)
    }
}

.float:hover {
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease;
    transition: all .2s alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(720deg);
    }
}


.neigh {
    animation: neigh 3s ease-in alternate infinite;
    animation-delay: 2s;
    background-color: transparent;
}

@keyframes neigh {
    0% {
        transform: scale(1.0);
        color: black;
    }
    50% {
        transform: scale(0.98);
        color: saddlebrown;
    }
    90% {
        transform: scale(1.2) rotate(-5deg);
        color: black;
    }
    100% {
        transform: scale(1.1) rotate(720deg);
        color: red;
    }
}

.bounce {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0vh);
    }

    30% {
        transform: translateY(.3vh);
    }

    100% {
        transform: translateY(1vh);
    }
}