html{
    box-sizing: border-box;
}


body {
    background-color: lightgray;
 
}

#image{
    width:500px;
    display:block;
}

/*COMPLETE THE CSS BELOW*/

/*Hint: only add one property to .container*/
.container{
    display: inline-block;
    margin-left: -4px;
}

.green{
    background-color: darkseagreen;
    width: 125px;
    height: 30px;
}

.blue{
    background-color: darkblue;
    width: 125px;
    height: 30px;
}

.pink{
    background-color: darksalmon;
    width: 125px;
    height: 30px;
}

.orange{   
    background-color: orangered;
    width: 125px;
    height: 30px;
}

.yellow{
    background-color: gold;
    width: 125px;
    height: 30px;
}

.red{
    background-color: darkred;
    width: 125px;
    height: 30px;
}


